@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@media screen {
    html,
    body {
      scroll-behavior: smooth;
    }
    * {
      box-sizing: border-box;
      margin: 0;
    }
}

:root {
    --white-color: #ffffff;
	--text-primary: #403f3d;
	--text-inverse: #e1d4c9;
	--text-accent: #b0907a;
	--background-page: #e1d4c9;
	--background-container: #665f55;
	--background-overlay: rgba(64, 63, 61, 0.8);
	--border-primary: #c1b6ad;
	--border-inverse: #665f55;
    /* modal */
    --background-modal: #e1d4c9;
	--background-modalcontrol: #665f55;
}
.dark-mode {
    /* --text-primary: #403f3d;  - ? */
    /* dark */
    --white-color: #ffffff;
	--text-primary: #e1d4c9;
	--text-inverse: #e1d4c9;
	--text-accent: #b0907a;
	--background-page: #292826;
	--background-container: #403f3d;
	--background-overlay: rgba(41, 40, 38, 0.8);
	--border-primary: #665f55;
	--border-inverse: #c1b6ad;
    /* modal */
	--background-modal: var(--background-container);
	--background-modal-control: var(--background-page);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
}

body,
html {
    background: var(--background-page);
    height: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */
.header-wrapper {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    padding: 20px 40px;
}
.nav {
    display: flex;
    margin-left: 37px;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-item {
    display: inline-block;
    cursor: pointer;
    align-items: center;
    margin-left: 0;
    margin-right: 40px;
    padding: 0;
}

.nav-link,
.menu-p {
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-primary);
    text-decoration: none;
    transition: 0.1s;
}

.nav-item:after,
.menu-link:after {
    display: block;
    margin: auto;
    content: "";
    width: 0%;
    height: 2px;
    background: var(--text-primary);
    transition: all 0.5s ease-in-out;
}
/* .nav-item:hover:after,
.nav-item:focus:after,
.menu-link:hover:after,
.menu-link:focus:after {
    width: 100%;
} */
.navigation__wrapper {
    display: flex;
    flex-direction: row;
}
.mode__wrapper {
    display: flex;
    margin-right: 24px;
    align-self: center;
    border-radius: 100px;
    padding: 4px;
    width: 88px;
    height: 44px;
    transition: 0.5s;
}
.mode__wrapper_light {
    background-color: var(--background-page);
    border: 1px solid var(--border-primary);
}
.mode__wrapper:hover {
    cursor: pointer;
}
.mode__wrapper_dark {
    display: flex;
    margin-right: 24px;
    background-color: var(--background-page);
    align-self: center;
    border: 1px solid var(--border-inverse);
    border-radius: 100px;
    padding: 4px;
    width: 88px;
    height: 44px;
    transition: 0.5s;
}
.mode__wrapper_dark:hover {
    transition: 0.5s;
    cursor: pointer;
}
.sun__box {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    transition: 0.5s;
}
.sun__box_light {
    background-color: var(--text-accent);
}
.sun__box:hover {
    transition: 0.5s;
    /* cursor: pointer; */
}
.sun__box_dark {
    background-color: var(--background-page);
}
.sun__box_dark:hover {
    background-color: var(--background-container);
}
.moon__box {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color: var(--background-page);
    margin-left: 8px;
    transition: 0.5s;
}
.moon__box_light:hover {
    cursor: pointer;
    background-color: var(--background-container);
    transition: 0.5s;
    .moon-icon {
        transition: 0.5s;
        color: var(--text-inverse);
    }
}
.moon__box_dark {
    background-color: var(--text-accent);
}
.moon-icon, .sun-icon {
    margin: auto;
    align-self: center;
}
.moon-icon {
    color: var(--text-primary);
}
.moon-icon_dark {
    color: var(--text-inverse);
}
.menu-link-wrapper {
    display: flex;
    margin-top: 15px;
}
.menu-link {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.menu-img {
    margin-left: 8px;
}
.burger-button {
    display: none;
}
/* ENJOY */
.enjoy-background {
    padding: 0 40px;
    margin-bottom: 100px;
}
.enjoy-wrapper {
    height: 644px;
    max-width: 1360px;
    border-radius: 40px;
    background: url(../assets/img/enjoy.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: -30px; */
    background-position: center;
}
.enjoy-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 720px;
    padding: 100px;
    gap: 40px;
}
.enjoy-title {
    color: var(--text-inverse);
    font-family: 'Inter';
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}
.title-accent {
    color: var(--text-accent);
    font-style: italic;
}
.enjoy-text {
    color: var(--text-inverse);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 64px;
    padding: 20px 78px;
    gap: 8px;
    background: var(--background-page);
    border-radius: 100px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.enjoy-button-text {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    margin-left: 30px;
    transition: all 0.5s ease-in-out;
}

.menu-img-button {
    z-index: -5;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}
/* .button:hover .enjoy-button-text {
    margin-left: 0;
    transition: all 0.5s ease-in-out;
}
.button:hover .menu-img-button {
    z-index: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
} */
/* FAVORITE */
.favorite-background {
    padding: 0 40px;
    margin-bottom: 100px;
}
.favorite-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-title {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
}
.section-title-accent {
    color: var(--text-accent);
    font-style: italic;
}
.favorite-carusel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.favorite-img {
    margin-top: 40px;
    height: 480px;
    width: 480px;
}
.btn-arrow {
    margin-top: 330px;
    cursor: pointer;
    fill: var(--background-page);
    transition: fill 1s;
}
/* .btn-arrow:hover {
    cursor: pointer;
    fill: var(--background-container);
    transition: fill 1s;
} */

.color-of-arrow {
    stroke: var(--text-primary);
    transition: stroke 1s;
}
/* .btn-arrow:hover .color-of-arrow {
    stroke: var(--background-page);
    transition: stroke 1s;
} */
.coffee-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-top: 20px;
    gap: 16px;
    max-width: 480px;
}
.coffee-description-title {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}
.coffee-description-text {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.coffee-description-price {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}
.coffee-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 40px;
    gap: 12px;
}
.coffee-bar {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-primary);
}
.bar-active {
    background: var(--border-inverse);
}

/* ABOUT */
.about-background {
    padding: 0 40px;
    margin-bottom: 100px;
}
.about-section {
    display: flex;
    flex-direction: column;
}
.title-about {
    margin-bottom: 40px;
    text-align: start;
}
.foto-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foto-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.foto-coffee-girl {
    display: flex;
    width: 660px;
    height: 590px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(../assets/img/coffee-girl.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    cursor: pointer;
    transition: all 1s;
}

.foto-cup-with-lights {
    display: flex;
    width: 660px;
    height: 430px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(../assets/img/cup-with-lights.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    cursor: pointer;
    transition: all 1s;
}

.foto-coffee-boy {
    display: flex;
    width: 660px;
    height: 430px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(../assets/img/coffee-boy.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    cursor: pointer;
    transition: all 1s;
}
.foto-happy-couple {
    display: flex;
    width: 660px;
    height: 590px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(../assets/img/happy-couple.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    cursor: pointer;
    transition: all 1s;
}
/* .foto-coffee-girl:hover,
.foto-cup-with-lights:hover,
.foto-coffee-boy:hover,
.foto-happy-couple:hover {
    cursor: pointer;
    background-size: 100%;
    transition: all 1s;
} */
/* MOBILE APP */
.mobile-app-background {
    padding: 0 40px;
    margin-bottom: 100px;
}
.mobile-app-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.mobile-app-section {
    display: flex;
    flex-direction: column;
    width: 630px;
    gap: 40px;
    align-self: center;
    text-align: start;
}
.title-mobile-app {
    text-align: start;
}
.mobile-app-text {
    color: var(--text-primary);
    text-align: start;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.mobile-app-image {
    width: 630px;
    height: 630px;
}
.button-wrapper-mobile-app {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.button-app {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-inverse);
    cursor: pointer;
    transition: all 1s;
}
/* .button-app:hover {
    cursor: pointer;
    background-color: var(--border-inverse);
    transition: all 1s;
}
.button-app:hover .mobile-app-p {
    color: var(--background-page);
    cursor: pointer;
    transition: all 1s;
}
.button-app:hover .mobole-app-title {
    color: var(--background-page);
    cursor: pointer;
    transition: all 1s;
} */
.mobile-app-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.img-mobile-app > path {
    fill: var(--text-primary);
    cursor: pointer;
    transition: all 1s;
}
/* .button-app:hover .img-mobile-app > path {
    cursor: pointer;
    transition: all 1s;
    fill: var(--background-page);
} */
.mobile-app-p {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 14px */
    text-align: start;
}
.mobole-app-title {
    color: var(--text-primary);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-align: start;
}
/* FOOTER */
.footer {
    padding: 0 40px 40px;
}
.footer-wrapper {
    padding: 100px;
    border-radius: 40px;
    background: var(--background-container);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-wrapper-column {
    display: flex;
    flex-direction: column;
    width: 530px;
}
.footer-title {
    color: var(--text-inverse);
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    margin-bottom: 40px;
}
.cosial-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.button-social {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-primary);
    background: var(--background-container);
    cursor: pointer;
    transition: all 1s;
}
.button-social-svg > path {
    stroke: var(--background-page);
    cursor: pointer;
    transition: all 1s;
}
/* .button-social:hover {
    background-color: var(--background-page);
    cursor: pointer;
    transition: all 1s;
}
.button-social:hover .button-social-svg > path {
    stroke: var(--text-primary);
    cursor: pointer;
    transition: all 1s;
} */

/* Second footer column */
.footer-title-h3 {
    margin-top: 35px;
    color: var(--text-inverse);
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}
.wrapper-footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
}
.footer-link-container {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.map {
    width: 182px;
}
.tel {
    width: 175px;
}
.footer-link-container:after {
    display: block;
    margin: auto;
    content: "";
    width: 0%;
    height: 2px;
    background: var(--background-page);
    transition: all 0.5s ease-in-out;
}
/* .footer-link-container:hover:after,
.footer-link-container:focus:after {
    width: 100%;
} */
.footer-link-wrapper-line,
.footer-link-container-hours {
    display: flex;
    gap: 8px;
}
.work-hours-wrapper {
    margin-bottom: 10px;
}
.footer-list-item-text {
    color: var(--text-inverse);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
@media screen and (max-width: 1438px) {
    .enjoy-section {
        padding: 100px 130px 100px 60px;
    }
}
@media screen and (max-width: 1421px) {
    .foto-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    .foto-column {
        margin: 0 auto;
    }
}
@media screen and (max-width: 1141px) {
    .mobile-app-wrapper {
        flex-direction: column;
    }
    .mobile-app-section {
        width: 688px;
    }
    .mobile-app-image {
        align-self: center;
        margin-top: 100px;
    }
}
@media screen and (max-width: 1001px) {
    .footer-wrapper {
        flex-direction: column;
        padding: 100px 60px 108px;
    }
    .cosial-wrapper {
        margin-bottom: 65px;
    }
}
@media screen and (min-width: 769px) and (max-width: 909px) {
    .nav {
        flex: 1;
    }
    .nav-list {
        flex: 1;
        justify-content: space-between;
    }
    .nav-item {
        margin-right: 0;
    }
}
@media screen and (max-width: 800px) {
    /* от 800 и ниже */
    .foto-cup-with-lights {
        display: none;
    }
    .foto-coffee-boy {
        display: none;
    }
    .foto-coffee-girl {
        width: 686px;
        background-size: 105%;
    }
    .foto-happy-couple {
        width: 686px;
        background-size: 105%;
    }
    .enjoy-section {
        max-width: 720px;
    }
    .enjoy-wrapper {
        max-height: 644px;
    }
    .enjoy-button-text {
        margin-left: 0;
    }
    .menu-img-button {
        z-index: 0;
        opacity: 1;
    }
    /* .mobile-app-section {
        max-width: 630px;
    } */
    .mobile-app-image {
        /* margin-top: 37px; */
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    .menu-link {
        display: none;
    }
    .burger-button {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-self: center;
    }
}
@media screen and (max-width: 600px) {
    .btn-arrow {
        display: none;
    }
    .footer-wrapper-column {
        max-width: 430px;
    }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
/* от 380 до 767 */
    .header-wrapper {
        padding: 20px 16px;
    }
    .enjoy-background {
        padding: 0 16px;
    }
    .enjoy-wrapper {
        max-height: 552px;
    }
    .enjoy-section {
        max-width: 80%;
        padding: 60px 16px;
    }
    .enjoy-title,
    .title-accent {
        font-size: 42px;
        line-height: 115%; /* 48.3px */
    }
    .enjoy-button-text {
        margin-left: 0;
    }
    .menu-img-button {
        z-index: 0;
        opacity: 1;
    }
    /* FAVORITE */
    .favorite-background {
        padding: 0 16px;
        margin-bottom: 100px;
    }
    .section-title,
    .section-title-accent {
        font-size: 32px;
        line-height: 125%; /* 40px */
    }
    .favorite-img {
        height: 100%;
        width: 100%;
    }
    /* ABOUT */
    .about-background {
        padding: 0 16px;
    }
    /* .foto-coffee-girl {
        width: 500px;
        height: 590px;
        background-size: 150%;
    }
    .foto-happy-couple {
        width: 500px;
        height: 590px;
        background-size: 150%;
    } */
    .foto-coffee-girl {
        width: 360px;
        height: 590px;
        background-size: 200%;
    }
    .foto-happy-couple {
        width: 360px;
        height: 590px;
        background-size: 200%;
    }
    /* MOBILE APP */
    .mobile-app-background {
        padding: 0 16px;
    }
    .mobile-app-section {
        width: 400px;
    }
    .mobile-app-image {
        width: 100%;
        height: 100%;
    }
    /* FOOTER */
    .footer {
        padding: 0 16px 40px;
    }
    .footer-wrapper {
        padding: 60px 16px 64px;
    }
    .footer-title {
        font-size: 32px;
    }
}
@media screen and (max-width: 500px) {
    .foto-coffee-girl {
        width: 360px;
        height: 590px;
        background-size: 200%;
    }
    .foto-happy-couple {
        width: 360px;
        height: 590px;
        background-size: 200%;
    }
    .mobile-app-section {
        max-width: 348px;
    }
    .button-wrapper-mobile-app {
        flex-direction: column;
    }
    .footer-wrapper-column {
        max-width: 316px;
    }
}
@media screen and (min-width: 20px) and (max-width: 400px) {
    .enjoy-section {
        max-width: 348px;
    }
    .foto-coffee-girl {
        width: 348px;
        height: 590px;
        background-size: 208%;
    }
    .foto-happy-couple {
        width: 348px;
        height: 590px;
        background-size: 208%;
    }
    .footer-wrapper-column {
        width: 316px;
    }
    .cosial-wrapper {
        margin-bottom: 5px;
    }
    .wrapper-footer-links {
        gap: 18px;
    }
    .mobile-app-image {
        margin-top: 37px;
    }
}
@media (hover: hover) {
    /* @media (hover: hover) and (min-width: 900px) { */
    .nav-item:hover:after,
    .nav-item:focus:after,
    .menu-link:hover:after,
    .menu-link:focus:after {
        width: 100%;
    }
    .button:hover .enjoy-button-text {
        margin-left: 0;
        transition: all 0.5s ease-in-out;
    }
    .button:hover .menu-img-button {
        z-index: 0;
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
    .btn-arrow:hover {
        cursor: pointer;
        fill: var(--background-container);
        transition: fill 1s;
    }
    .btn-arrow:hover .color-of-arrow {
        stroke: var(--background-page);
        transition: stroke 1s;
    }
    .foto-coffee-girl:hover,
    .foto-cup-with-lights:hover,
    .foto-coffee-boy:hover,
    .foto-happy-couple:hover {
        cursor: pointer;
        background-size: 100%;
        transition: all 1s;
    }
    .button-app:hover {
        cursor: pointer;
        background-color: var(--border-inverse);
        transition: all 1s;
    }
    .button-app:hover .mobile-app-p {
        color: var(--background-page);
        cursor: pointer;
        transition: all 1s;
    }
    .button-app:hover .mobole-app-title {
        color: var(--background-page);
        cursor: pointer;
        transition: all 1s;
    }
    .button-app:hover .img-mobile-app > path {
        cursor: pointer;
        transition: all 1s;
        fill: var(--background-page);
    }
    .button-social:hover {
        background-color: var(--background-page);
        cursor: pointer;
        transition: all 1s;
    }
    .button-social:hover .button-social-svg > path {
        stroke: var(--text-primary);
        cursor: pointer;
        transition: all 1s;
    }
    .footer-link-container:hover:after,
    .footer-link-container:focus:after {
        width: 100%;
    }
}
