@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
/* @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Inter/static/Inter-Medium.ttf');
}
@font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 600;
    src: url('../assets/fonts/Inter/static/Inter-ExtraLight.ttf');
} */
@media screen {
    html,
    body {
      scroll-behavior: smooth;
    }
    * {
      box-sizing: border-box;
      margin: 0;
    }
}

:root {
    --white-color: #ffffff;
    --text-dark: #403F3D;
    --text-accent: #B0907A;
    --text-light: #E1D4C9;
    --background-body: #E1D4C9;
    --background-container: #665F55;
    --border-dark: #665F55;
    --border-light: #C1B6AD;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
}

body,
html {
    background: var(--background-body);
    height: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */
.header-wrapper {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    padding: 20px 40px;
}
.nav {
    display: flex;
    margin-left: 37px;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-item {
    display: inline-block;
    cursor: pointer;
    align-items: center;
    margin-left: 0;
    margin-right: 40px;
    padding: 0;
}

.nav-link,
.menu-p {
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-dark);
    text-decoration: none;
    transition: 0.1s;
}

.nav-item:after,
.menu-link:after {
    display: block;
    margin: auto;
    content: "";
    width: 0%;
    height: 2px;
    background: #403F3D;
    transition: width 0.5s ease-in-out;
}
.nav-item:hover:after,
.nav-item:focus:after,
.menu-link:hover:after,
.menu-link:focus:after {
    width: 100%;
}
.menu-link-wrapper {
    display: flex;
    margin-top: 15px;
}
.menu-link {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.menu-img {
    margin-left: 8px;
}

/* ENJOY */
.enjoy-background {
    padding: 0 40px;
    margin-bottom: 100px;
}
.enjoy-wrapper {
    height: 644px;
    width: 1360px;
    border-radius: 40px;
    background: url(../assets/img/enjoy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30px;
}
.enjoy-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 720px;
    padding: 100px;
    gap: 40px;
}
.enjoy-title {
    color: var(--text-light);
    font-family: 'Inter';
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}
.title-accent {
    color: var(--text-accent);
    font-style: italic;
}
.enjoy-text {
    color: var(--text-light);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 64px;
    padding: 20px 78px;
    gap: 8px;
    background: var(--background-body);
    border-radius: 100px;
    text-decoration: none;
    transition: 1s;
}
.enjoy-button-text {
    color: var(--text-dark);
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

/* FAVORITE */
.favorite-background {
    padding: 0 40px;
    margin-bottom: 100px;
}
.favorite-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-title {
    color: var(--text-dark);
    text-align: center;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
}
.section-title-accent {
    color: var(--text-accent);
    font-style: italic;
}
.favorite-carusel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.favorite-img {
    margin-top: 40px;
    height: 480px;
    width: 480px;
}
.btn-arrow {
    margin-top: 200px;
}
.coffee-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-top: 20px;
    gap: 16px;
    max-width: 480px;

}
.coffee-description-title {
    color: var(--text-dark);
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}
.coffee-description-text {
    color: var(--text-dark);
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.coffee-description-price {
    color: var(--text-dark);
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}
.coffee-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 40px;
    gap: 12px;
}
.coffee-bar {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-light);
}
.bar-active {
    background: var(--border-dark);
}

/* ABOUT */
.about-background {
    padding: 0 40px;
    margin-bottom: 100px;
}
.about-section {
    display: flex;
    flex-direction: column;
}
.title-about {
    margin-bottom: 40px;
    text-align: start;
}
.foto-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foto-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.foto-coffee-girl {
    display: flex;
    width: 660px;
    height: 590px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(../assets/img/coffee-girl.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
}
.foto-cup-with-lights {
    display: flex;
    width: 660px;
    height: 430px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(../assets/img/cup-with-lights.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
}
.foto-coffee-boy {
    display: flex;
    width: 660px;
    height: 430px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(../assets/img/coffee-boy.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
}
.foto-happy-couple {
    display: flex;
    width: 660px;
    height: 590px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(../assets/img/happy-couple.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
}
/* MOBILE APP */
.mobile-app-background {
    padding: 0 40px;
    margin-bottom: 100px;
}
.mobile-app-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.mobile-app-section {
    display: flex;
    flex-direction: column;
    width: 630px;
    gap: 40px;
    align-self: center;
    text-align: start;
}
.title-mobile-app {
    text-align: start;
}
.mobile-app-text {
    color: var(--text-dark);
    text-align: start;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.mobile-app-image {
    width: 630px;
    height: 630px;
}
.button-wrapper-mobile-app {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.button-app {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
}
.mobile-app-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.mobile-app-p {
    color: var(--text-dark);
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 14px */
    text-align: start;
}
.mobole-app-title {
    color: var(--text-dark, #403F3D);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-align: start;
}
/* FOOTER */
.footer {
    padding: 0 40px 40px;
}
.footer-wrapper {
    padding: 100px;
    border-radius: 40px;
    background: var(--background-container);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-wrapper-column {
    display: flex;
    flex-direction: column;
    width: 530px;
}
.footer-title {
    color: var(--text-light, #E1D4C9);
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    margin-bottom: 40px;
}
.cosial-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.button-social {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light);
    background: var(--background-container);
}

/* Second footer column */
.footer-title-h3 {
    margin-top: 35px;
    color: var(--text-light);
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}
.wrapper-footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}
.footer-link-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 8px;
}
.work-hours-wrapper {
    margin-bottom: 10px;
}
.footer-list-item-text {
    color: var(--text-light, #E1D4C9);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}