:root {
    --white-color: #ffffff;
    --text-dark: #403F3D;
    --text-accent: #B0907A;
    --text-light: #E1D4C9;
    --background-body: #E1D4C9;
    --background-container: #665F55;
    --border-dark: #665F55;
    --border-light: #C1B6AD;
}